In [12]:
import pandas as pd

# Load Dataset
dataset_training = pd.read_csv('data_training_praktikum.csv')
dataset_training.describe(include='all')

dataset_testing = pd.read_csv('data_testing_praktikum_tanpakelas.csv')

In [5]:
# Describe all columns
#for i in range (60):
#    print(dataset_training[dataset_training.columns[i]].describe())
#    print()

count    12594.000000
mean         0.237891
std          0.425809
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: cont1, dtype: float64

count    12594.000000
mean         0.526044
std          0.499341
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: cont2a, dtype: float64

count    12594.000000
mean         0.328331
std          0.469625
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: cont3, dtype: float64

count     12594
unique       10
top           F
freq       5029
Name: loc, dtype: object

count        12594
unique           7
top       last_stc
freq          2077
Name: struct1, dtype: object

count     12594
unique        3
top       Final
freq       5232
Name: struct2, dtype: object

count               12594
unique                 17
top       NonPrototypical
freq                 3067
Name: struct3, dtype: object

count    12594.000000
mean         0.241861
std          0.428228
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: length, dtype: float64

count     12594
unique        3
top        None
freq      11331
Name: cit1, dtype: object

count     12594
unique        4
top        None
freq      11331
Name: cit2, dtype: object

count    12594.000000
mean         0.592266
std          0.491433
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: syn, dtype: float64

count    12594.000000
mean         0.089011
std          0.284770
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: adj, dtype: float64

count    12594.000000
mean         0.000873
std          0.029542
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: affect_formulaic, dtype: float64

count    12594.000000
mean         0.063522
std          0.243910
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: bad_formulaic, dtype: float64

count    12594.000000
mean         0.001667
std          0.040802
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: comparison_formulaic, dtype: float64

count    12594.000000
mean         0.000159
std          0.012601
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: continue_formulaic, dtype: float64

count    12594.000000
mean         0.034540
std          0.182619
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: contrast_formulaic, dtype: float64

count    12594.000000
mean         0.009370
std          0.096346
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: detail_formulaic, dtype: float64

count    12594.000000
mean         0.005320
std          0.072747
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: future_formulaic, dtype: float64

count    12594.000000
mean         0.001429
std          0.037780
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: gap_formulaic, dtype: float64

count    12594.000000
mean         0.148007
std          0.355121
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: good_formulaic, dtype: float64

count    12594.000000
mean         0.022392
std          0.147959
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: here_formulaic, dtype: float64

count    12594.000000
mean         0.013260
std          0.114392
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: in_order_to_formulaic, dtype: float64

count    12594.000000
mean         0.034540
std          0.182619
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: method_formulaic, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: no_textstructure_formulaic, dtype: float64

count    12594.000000
mean         0.003097
std          0.055564
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: similarity_formulaic, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: them_formulaic, dtype: float64

count    12594.000000
mean         0.000556
std          0.023570
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: textstructure_formulaic, dtype: float64

count    12594.000000
mean         0.070033
std          0.255213
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: tradition_formulaic, dtype: float64

count    12594.000000
mean         0.000635
std          0.025197
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: us_previous_formulaic, dtype: float64

count    12594.000000
mean         0.015245
std          0.122532
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: problem_formulaic, dtype: float64

count    12594.000000
mean         0.015722
std          0.124402
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: solution_formulaic, dtype: float64

count    12594.000000
mean         0.010481
std          0.101844
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: our_aim_formulaic, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: affect, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: argumentation, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: better_solution, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: change, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: comparison, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: continue, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: contrast, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: interest, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: need, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: presentation, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: problem, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: research, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: solution, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: textstructure, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: use, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: copula, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: aim_ref_agent, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: gap_agent, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: general_agent, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: ref_agent, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: ref_us_agent, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: textstructure_agent, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: them_agent, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: them_pronoun_agent, dtype: float64

count    12594.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: us_agent, dtype: float64

count    12594.000000
mean         0.077656
std          0.267640
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: negation, dtype: float64

count        12594
unique          16
top       own_mthd
freq          4844
Name: labelclass, dtype: object

In [6]:
# Select all Categorical columns and print frequency
#nominal = dataset_training.select_dtypes(include=['object'])
#for i in range (7):
#    print(nominal[nominal.columns[i]].value_counts())
#    print()

F    5029
G    1268
E    1259
H    1252
J     677
D     634
B     634
I     630
C     627
A     584
Name: loc, dtype: int64

last_stc                    2077
second_or_third_stc         1808
second_or_third_last_stc    1808
second_third                1800
last_third                  1796
first_third                 1796
first_stc                   1509
Name: struct1, dtype: int64

Final      5232
Medial     4218
Initial    3144
Name: struct2, dtype: int64

NonPrototypical    3067
Introduction       1995
Method             1740
Experiment         1170
Result              760
Related Work        649
Conclusion          604
Abstract            578
Discussion          418
Data                409
Evaluation          360
Solution            313
Implementation      247
Problem             134
Example             104
Further Work         38
Limitation            8
Name: struct3, dtype: int64

None             11331
Citation          1082
Self Citation      181
Name: cit1, dtype: int64

None         11331
End            656
Beginning      319
Middle         288
Name: cit2, dtype: int64

own_mthd    4844
othr        1605
use          954
own_conc     941
support      634
co_gro       602
textual      594
gap_weak     445
own_res      389
prev_own     383
aim          350
nov_adv      278
codi         201
fut          156
antisupp     109
own_fail     109
Name: labelclass, dtype: int64

In [38]:
# Drop Columns with mean = 0
list_column = []
import numpy as np
for i in range (60):
    if (dataset_training[dataset_training.columns[i]].dtype != np.object and dataset_training[dataset_training.columns[i]].mean() == 0):
        list_column.append(dataset_training.columns[i])

dropped_dataset = dataset_training
for column in list_column:
    dropped_dataset = dropped_dataset.drop(column,axis=1)

In [39]:
# Encoding
data_train = dropped_dataset

# Label Encoding
categorical = {"loc": {"A": 0, "B": 1, "C": 2, "D": 3, "E": 4, "F": 5, "G": 6, "H": 7, "I": 8, "J": 9},
               "struct2": {"Initial": 0, "Medial": 1, "Final": 2},
               "cit1": {"None": 0, "Citation": 1, "Self Citation": 2},
               "cit2": {"None": 0, "Beginning": 1, "Middle": 2, "End": 3},
              }
data_train.replace(categorical, inplace=True)

# Class Encoding
data_train["labelclass"] = data_train["labelclass"].astype('category')
data_train["labelclass"] = data_train["labelclass"].cat.codes

# One-Hot Encoding
data_train = pd.get_dummies(data_train, columns=["struct3", "struct1"])
data_train = data_train.drop("struct3_Example",axis=1)
print(data_train.dtypes)
data_train.head()

#dropped_dataset.head()

cont1                               int64
cont2a                              int64
cont3                               int64
loc                                 int64
struct2                             int64
length                              int64
cit1                                int64
cit2                                int64
syn                                 int64
adj                                 int64
affect_formulaic                    int64
bad_formulaic                       int64
comparison_formulaic                int64
continue_formulaic                  int64
contrast_formulaic                  int64
detail_formulaic                    int64
future_formulaic                    int64
gap_formulaic                       int64
good_formulaic                      int64
here_formulaic                      int64
in_order_to_formulaic               int64
method_formulaic                    int64
similarity_formulaic                int64
textstructure_formulaic             int64
tradition_formulaic                 int64
us_previous_formulaic               int64
problem_formulaic                   int64
solution_formulaic                  int64
our_aim_formulaic                   int64
negation                            int64
labelclass                           int8
struct3_Abstract                    uint8
struct3_Conclusion                  uint8
struct3_Data                        uint8
struct3_Discussion                  uint8
struct3_Evaluation                  uint8
struct3_Experiment                  uint8
struct3_Further Work                uint8
struct3_Implementation              uint8
struct3_Introduction                uint8
struct3_Limitation                  uint8
struct3_Method                      uint8
struct3_NonPrototypical             uint8
struct3_Problem                     uint8
struct3_Related Work                uint8
struct3_Result                      uint8
struct3_Solution                    uint8
struct1_first_stc                   uint8
struct1_first_third                 uint8
struct1_last_stc                    uint8
struct1_last_third                  uint8
struct1_second_or_third_last_stc    uint8
struct1_second_or_third_stc         uint8
struct1_second_third                uint8
dtype: object

,cont1,cont2a,cont3,loc,struct2,length,cit1,cit2,syn,adj,...,struct3_Related Work,struct3_Result,struct3_Solution,struct1_first_stc,struct1_first_third,struct1_last_stc,struct1_last_third,struct1_second_or_third_last_stc,struct1_second_or_third_stc,struct1_second_third
0,1,1,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1,1,1,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,1,1,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,1,0,2,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,1,1,1,0,2,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [34]:
# Preprocess data Test

# Drop Columns with mean = 0
list_column = []
import numpy as np
for i in range (60):
    if (dataset_testing[dataset_testing.columns[i]].dtype != np.object 
        and dataset_testing[dataset_testing.columns[i]].mean() == 0
       and dataset_testing.columns[i] != "continue_formulaic"
              and dataset_testing.columns[i] != "gap_formulaic"
       and dataset_testing.columns[i] != "us_previous_formulaic"):
        list_column.append(dataset_testing.columns[i])
        
dropped_dataset = dataset_testing
for column in list_column:
    dropped_dataset = dropped_dataset.drop(column,axis=1)
    
# Encoding
data_test = dropped_dataset

# Label Encoding
categorical = {"loc": {"A": 0, "B": 1, "C": 2, "D": 3, "E": 4, "F": 5, "G": 6, "H": 7, "I": 8, "J": 9},
               "struct2": {"Initial": 0, "Medial": 1, "Final": 2},
               "cit1": {"None": 0, "Citation": 1, "Self Citation": 2},
               "cit2": {"None": 0, "Beginning": 1, "Middle": 2, "End": 3},
              }
data_test.replace(categorical, inplace=True)

# Class Encoding
#data_test["labelclass"] = data_test["labelclass"].astype('category')
#data_test["labelclass"] = data_test["labelclass"].cat.codes

# One-Hot Encoding
data_test = pd.get_dummies(data_test, columns=["struct3", "struct1"])
data_test = data_test.drop("labelclass",axis=1)
print(data_test.dtypes)
data_test.head()

#dropped_dataset.head()

cont1                               int64
cont2a                              int64
cont3                               int64
loc                                 int64
struct2                             int64
length                              int64
cit1                                int64
cit2                                int64
syn                                 int64
adj                                 int64
affect_formulaic                    int64
bad_formulaic                       int64
comparison_formulaic                int64
continue_formulaic                  int64
contrast_formulaic                  int64
detail_formulaic                    int64
future_formulaic                    int64
gap_formulaic                       int64
good_formulaic                      int64
here_formulaic                      int64
in_order_to_formulaic               int64
method_formulaic                    int64
similarity_formulaic                int64
textstructure_formulaic             int64
tradition_formulaic                 int64
us_previous_formulaic               int64
problem_formulaic                   int64
solution_formulaic                  int64
our_aim_formulaic                   int64
negation                            int64
struct3_Abstract                    uint8
struct3_Conclusion                  uint8
struct3_Data                        uint8
struct3_Discussion                  uint8
struct3_Evaluation                  uint8
struct3_Experiment                  uint8
struct3_Further Work                uint8
struct3_Implementation              uint8
struct3_Introduction                uint8
struct3_Limitation                  uint8
struct3_Method                      uint8
struct3_NonPrototypical             uint8
struct3_Problem                     uint8
struct3_Related Work                uint8
struct3_Result                      uint8
struct3_Solution                    uint8
struct1_first_stc                   uint8
struct1_first_third                 uint8
struct1_last_stc                    uint8
struct1_last_third                  uint8
struct1_second_or_third_last_stc    uint8
struct1_second_or_third_stc         uint8
struct1_second_third                uint8
dtype: object

,cont1,cont2a,cont3,loc,struct2,length,cit1,cit2,syn,adj,...,struct3_Related Work,struct3_Result,struct3_Solution,struct1_first_stc,struct1_first_third,struct1_last_stc,struct1_last_third,struct1_second_or_third_last_stc,struct1_second_or_third_stc,struct1_second_third
0,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,0,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,0,1,0,0,2,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0